<div id="content" class="site-content">
  <div id="blog-wrapper">
    <div class="blog-holder center-relative">
      <article id="post-1" class="blog-item-holder featured-post">
        <div class="entry-content relative">
          <div class="content-1170 center-relative">
            <div class="cat-links">
              <ul>
                <li>
                  <a href="#">Crafting</a>
                </li>
              </ul>
            </div>
            <div class="entry-date published">February 12, 2016</div>
            <h2 class="entry-title">
              <a href="#">Whatever is begun in anger ends in shame</a>
            </h2>
            <div class="excerpt">
              Now when I had mastered the language of this water and had come to know every trifling feature that bordered the great river as familiarly as I knew the letters of the alphabet, I had made a valuable acquisition. I still keep in mind a certain wonderful sunset which I witnessed when and steamboating<a class="read-more" href="#"></a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </article>

      <article id="post-2" class="blog-item-holder">
        <div class="entry-content relative">
          <div class="content-1170 center-relative">
            <h2 class="entry-title">
              <a href="https://medium.com/@vbhavu1925/understanding-design-patterns-ec29ec8fe6a1">Understanding Design Patterns</a>
            </h2>
            <div class="cat-links">
              <ul>
                <li>
                  <a href="#">Design Pattern</a>
                </li>
              </ul>
            </div>
            <div class="entry-date published">April 16, 2018</div>
            <div class="clear"></div>
          </div>
        </div>
      </article>

      <article id="post-3" class="blog-item-holder">
        <div class="entry-content relative">
          <div class="content-1170 center-relative">
            <h2 class="entry-title">
              <a href="https://medium.com/@vbhavu1925/jquery-find-and-closest-at-their-best-da3f05cfd556">jQuery .find and .closest at their best.</a>
            </h2>
            <div class="cat-links">
              <ul>
                <li>
                  <a href="#">Javascript</a>
                </li>
              </ul>
            </div>
            <div class="entry-date published">February 23, 2018</div>
            <div class="clear"></div>
          </div>
        </div>
      </article>

      <article id="post-4" class="blog-item-holder">
        <div class="entry-content relative">
          <div class="content-1170 center-relative">
            <h2 class="entry-title">
              <a href="http://ai-proj.herokuapp.com/">Learning Artificial Intelligence</a>
            </h2>
            <div class="cat-links">
              <ul>
                <li>
                  <a href="#">Artifical Intelligence</a>
                </li>
              </ul>
            </div>
            <div class="entry-date published">November 8, 2017</div>
            <div class="clear"></div>
          </div>
        </div>
      </article>
    </div>
      <div class="clear"></div>
      <div class="block load-more-holder">LOAD MORE ENTRIES</div>
  </div>

  <div class="featured-image-holder">
    <div class="featured-post-image" style="background-image: url(https://img.gadgethacks.com/img/82/59/63550010099314/0/laplock-protects-your-macbook-from-thieves-public-places.1280x600.jpg)"></div>
  </div>
  <div class="clear"></div>
</div>
